doctype html
- patarn = rand(2)
- rank1 = ["もっと早くう・ご・けー", 
           "もうギブアップしちゃうの？", 
           "この程度なの？"] 
- rank2 = ["おぉ～いいねぇ～", 
           "その調子、その調子～", 
           "もっともっと！！"] 
- rank3 = ["運動してるお兄ちゃんもしかしたらかっこいいカモ…？？", 
           "いい筋肉になってきたんじゃない？終わったら触らせてよ！", 
           "ふぁいとふぁいとーにぃにならできるぞー！"] 
- rank4 = ["運動してるお兄ちゃん大好き！", 
           "これが終わったら背中流してあげる！", 
           "お兄ちゃんは動いてる時が一番輝いてるよ！"] 
html
  head
    title
        | ヒールライジング(運動休憩画面）
    
  body#break
    .main-area
        .home-area
            .time-area
                | 00:00:00
            
            .chara-area
                |
                - if @user.level<10
                  =image_tag("home/heal_rising_touka2.png")
                - else
                  =image_tag("home/heal_rising_chara2.png")
                
                .talk-area
                    | 
                    - if @user.level<1
                      = rank1[patarn] 
                    - elsif @user.level<10 
                      = rank2[patarn] 
                    - elsif @user.level<20 
                      = rank3[patarn] 
                    - else 
                      = rank4[patarn] 
        
        
        
        .bottom-area
            .back-bottom
                | 戻る
            .end-bottom
                | 終了
            .pause-bottom
                | 休憩
            .restart-bottom
                | 再開

javascript:
    var timer = new Timer();
    timer.start();
    
    /*if (true){
        //breakから遷移したときの処理
        //「document.referer」でリファラ取得したらいける？
        //「/break$/.test(document.referer)」?
        timer.start();
    } else{
        timer.start();
    }*/
    $('.restart-bottom').click(function () {
        timer.start();
        $('.talk-area').html("運動中");
    });
    $('.pause-bottom').click(function () {
        timer.pause();
        $('.talk-area').html("休憩中");
        /*$.ajax({
           url:"/break",
           type: "GET",
           data: {content : $(".time-area").text()},
           datatype: "html",
           success: function(data){
               
           },
           error: function(data){
               
           }
           
        });
        location.href="../break";*/
    });
    $('.end-bottom').click(function () {
        var finishTime = timer.getTimeValues().toString;
        timer.stop();
        //timer.pause();
        /*$.ajax({
           url:"/result",
           type: "GET",
           data: {content : $(".time-area").text()},
           datatype: "html",
           success: function(data){
               
           },
           error: function(data){
               
           }
           
        });*/
        location.href=`../result?times=${$('.time-area').text()}`;
    });
    $('.back-bottom').click(function () {
        timer.reset();
        location.href="../home";
    });
    timer.addEventListener('secondsUpdated', function (e) {
        $('.time-area').html(timer.getTimeValues().toString());
    });
    timer.addEventListener('started', function (e) {
        $('.time-area').html(timer.getTimeValues().toString());
    });
    timer.addEventListener('reset', function (e) {
        $('.time-area').html(timer.getTimeValues().toString());
    });