<style type="text/css">
    <!--
    .abc{
        font-size:20pt;
        border-style: solid;
        width: 100px;
        position: absolute;
        background-color: white;
        right: 0;
        top: 0;
    }
    
    .serifu{
        font-size:15pt;
        border-style: solid;
        width: 100%;
        position: absolute;
        background-color: white;
        right: 0;
        top: 45%;
        width:100%;
        margin: 0;
    }
    
    .gazo{
        position: relative;
        width: 100%;
    }
    
    
    .center{
        text-align: center;
    }
    
    .button_to{
        display: inline;
    }
    -->
    
    
</style>

<%= image_tag '/assets/not_found.jpg', class: 'gazo' %>

<div align="center" class=abc>
    Lv.12 <br>
    Exp \\\\\ <br>
    next 70 <br>
</div>

<div align="center" class=serifu >
    セリフ <br>
    あああああああ<br>
</div>


<div class="center">
<%= button_to 'ボタン',{},{} %>
<%= button_to 'ボタン',{},{} %>
</div>


