body#result{
        .main-area{
            top:0px;
            width :100%;
            margin: 0 auto;
            background-color:#FFF4FF;
            text-align: center;
            .time-area{
                font-size:80px;
            }
            .result-area{
                font-size:70px;
            }
                
        }
            
        
        .chara-area{
            top:0px;
            height:100%;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            position: relative;
            
            img{
                width: 100%;
               
                
            }
             
        }
       .bottom-area{ 
           bottom:0px;
           position: absolute;
           width: 100%;
           
           .talk-area{
                border: 1px #000 solid;
                width:100%;
                padding: 5px;
                font-size:55px;
                background-color: #ff9;
                min-height: 20%;
            }
            .exp-area{
                display: flex;
                justify-content: space-around;
                text-align: center;

                height: 14%;
                padding: 0% 0px;
                background-color: #AFF4FF;
                bottom: 0;
            
                .back-button{
                    background: #FF9FFF;
                    border: 1px #000 solid;
                    border-radius: 100px;
                    
                    width: 30%;
                    font-size: 45px;
                    margin: 40px;
                    padding: 10px 0;
                }
                
                .level-area{
                    text-align: left;
                    margin:20px;
                    padding:10px;
                    background-color:#fff;
                    border:solid 5px #000;
                    width:80%;
                    font-size:2.1em;
                    .level-now{
                        
                    }
                }
                
            }
       }
    
}