
body#start{
    background-color:#FFF4FF;
   .main-area{
       width :100%;
       margin: 0 auto;
       position: relative;
       img{
                width: 100%;
               
                
            }
   }
}