
body#start{
    background-color:#FFF4FF;
   .main-area{
       max-width: 100%;
       margin: 0 auto;
       margin-top: 45%;
       position: relative;
       img{
                max-width: 100%;
        }
   }
}